{% extends 'formbase2.html' %} 
{% block content %}
{% if message %}
<p class="login-text">
    {{ message }}
</p>
{% else %}
<p class="login-text">Login</p>
{% endif %}
<form action="{% url 'newpassword_reset' username %}" method="POST">
{% csrf_token %}
<div class="form-field">
    <label for="password">NewPassword</label>
    <input type="password" name="password" />
</div>

<div class="form-field">
    <label for="checkpassword">Type Password Again</label>
    <input type="password" name="checkpassword" />
</div>
<div class="form-field">
    <button type="submit" class="login-btn">Change</button>
</div>
</form>
{% endblock %}